body {
    background-color: beige;
}

ul {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
}

.number {
    margin-right: 10px;
    min-width: 20px;
}

button {
    border: 2;
    color: pink;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: darkbrown;
}
  